---
layout: default
---

<div class="post">
  <h3 class="post-title">{{ page.title }}</h3>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <div class="tags">
      {% assign sortedTags = page.tags | sort %}
      <small>Tags: </small>
      {% for tag in sortedTags %}
        <span class="tag">
          <small> <a href="{{ site.baseurl }}/tag/{{ tag }}">&nbsp;#{{ tag }}</a></small>
        </span>&nbsp;
      {% endfor %}
      <br>
    </div>
  <small> 
    paragraph : {{ page.content | number_of_words }} words. </small> <br>
  <br>
  {{ content }}
  

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}
